hello EOtes

<div class="container mt-4">
  <mat-card>
    <mat-card-title>Users List</mat-card-title>
    <mat-table [dataSource]="users" class="mat-elevation-z8">

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>

      <!-- Roles Column -->
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.roles?.join(', ')}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['email', 'roles']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['email', 'roles'];"></mat-row>
    </mat-table>
  </mat-card>
</div>
